<div class="form-container" id="toolbar">
    <header [@fallIn]="state">
      <button (click)="logout()" class="basic-btn">Logout</button>
    </header>
    <div id="page" [@moveInLeft]="state">
    
    
      <h2>Hey {{ name.auth.displayName }}!</h2>
<div class="row columns">

  <input type="text" id="message" *ngIf="name" placeholder="Chat here..." (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal" />

 <div class="chat-container" *ngFor="let item of items | async">
      <a>{{item.name}}</a>
      <p>{{item.message}}</p>
    </div>
</div>

  
    </div>
    
</div>